@model PartyFi.Models.Playlist

<link rel="stylesheet" href="~/Content/Home.css" />
<link rel="stylesheet" href="~/Content/Create.css" />

<script>
    var timer = null;
    function testKeyup() {
        clearTimeout(timer);
        timer = setTimeout(doneTyping, 2000);
    }
    function testKeydown() {
        clearTimeout(timer);
    }
    function doneTyping() {
        var typed = document.getElementById("search").value;
        if (typed != "") {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("Search", "Playlist")',
                data: { search: typed },
                success: function (list) {
                    var ul = document.getElementById("generatedUL");
                    var isThereList = document.getElementById("temp");
                    if (ul.childElementCount > 1 && isThereList != null && isThereList.length) {
                        ul.removeChild(isThereList);
                    }
                    else {
                        $('#generatedUL').empty();
                        $('#generatedUL').empty();
                    }
                    for (i = 0; i < list.length; i++) {
                        $("#generatedUL").append("<li value=\"" + list[i].Uri + "\"><a>" + list[i].Artists[0].Name + " - " + list[i].Name + "</a></li>");
                    }
                },
            });
        }
    }
</script>
<script>
    //var time = new Date().getTime();
    //$(document.body).bind("mousemove keypress", function (e) {
    //    time = new Date().getTime();
    //});

    //function refresh() {
    //    if (new Date().getTime() - time >= 1000)
    //        window.location.reload(true);
    //    else
    //        setTimeout(refresh, 1000);
    //}

    //setTimeout(refresh, 1000);
</script>

<body style="background-image: url('../../images/HomeBG.jpg'); background-attachment: fixed; background-position: top center;">
    <div class="row transparentBox">
        <div class="col-sm-5" style="background-color:white; opacity:0.6; margin: 5px; height: 38px;">
            <input type="text" onkeydown="testKeydown()" onkeyup="testKeyup()" id="search" class="form-control" placeholder="Search for a song..." style="max-width:75%">
            <div class="container-fluid" id="generatedULContainer" style="display: block; width: 100%; height: 226px; overflow: auto; margin-top: 0px;">
                <ul id="generatedUL" style="list-style-type:none; padding-top: 0px; margin-top: 0px;">
                    <li id="temp" style="display: none;"></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5" style="background-color:white; opacity:0.7; text-align:left;"><h3 style="margin-top: 3px;">Code: @Model.code</h3></div>
        <div class="col-sm-1" style="background-color:white; opacity:0.7; float: right; margin: 3px;"><button type="button" class="btn">Veto</button></div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 transparentBox" style="z-index: 1; background-color:white; opacity:0.6; display:table-header-group;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Song</th>
                        <th>Artist</th>
                        <th>Rank</th>
                        <th>Upvote/Downvote</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.playlist)
                    {
                        <tr>
                            <td>@song.song</td>
                            <td>@song.artist</td>
                            <td>@song.rank</td>
                            <td>
                                @Html.ActionLink("Up", "Up", new { id = Model.playlist.IndexOf(song) })
                                @Html.ActionLink("Down", "Down", new { id = Model.playlist.IndexOf(song) })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</body>