@model PartyFi.Models.Playlist

<div class="row" style="font-size: 20px; font-weight:bold;">@Model.PLName</div>
<table class="table table-hover col-md-1">
    <thead align="center">
        <tr>
            <th style="text-align:center">Upvote/Downvote</th>
            <th style="text-align:center">Rank</th>
            <th style="text-align:center">Song</th>
            <th style="text-align:center">Artist</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model.playlist)
        {
            <tr>
                <td style="width: 10%;">
                    <div class="row">
                        @Html.ActionLink("Up  ", "Up", new { id = Model.playlist.IndexOf(song), joinOrCreate = "Join" })
                    </div>
                    <div class="row">
                        @Html.ActionLink("  Down", "Down", new { id = Model.playlist.IndexOf(song), joinOrCreate = "Join" })
                    </div>

                </td>
                <td style="width: 5%;">@song.rank</td>
                <td style="width: 50%;">@song.song</td>
                <td style="width: 35%;">@song.artist</td>
            </tr>
        }
    </tbody>

</table>